.services-section {
  padding: 1px 10%;
  background: #f9fafc;
  padding-top: 4px;
  margin-bottom: 70px;
}

/* ---------------- SLIDER ---------------- */

.services-slider-wrapper {
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.services-slider {
  display: flex;
  gap: 40px;
  animation: slide 18s linear infinite;
}

.slide-item {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  font-size: 1.2rem;
  color: #122079;
}

.slide-icon {
  color: #fca311;
  font-size: 1.5rem;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ---------------- TITLE ---------------- */

.services-title {
  margin-top: 1px;
  font-size: 1.5rem;
  color: hwb(232 8% 57%);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.services-title::before {
  content: "";
  display: inline;
  width: 6px;
  height: 40px;
  background-color: orange;
  border-radius: 3px;
}

/* ---------------- GRID ---------------- */
.service-card-img {
  position: relative;
  height: 260px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
}

/* Center Text */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 2;
  width: 100%;
  pointer-events: none;
}

.overlay h3 {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.overlay p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Image */
.service-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
  filter: brightness(0.4);
}

.service-card-img:hover img {
  transform: scale(1.07);
  filter: brightness(0.3);
}

/* Optional hover text effect (if you want) */
.service-card-img:hover h3 {
  font-size: 1.3rem;
}
/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Responsive */
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; /* أصغر شوي عشان يناسب الشاشة */
  }

  .service-card-img {
    height: 200px; /* أصغر شوي */
  }

  .overlay h3 {
    font-size: 1rem;
  }

  .overlay p {
    font-size: 0.7rem;
  }
}
