.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
/* الكونتينر اللي بوسط الصفحة */
.header-container {
  max-width: 1200px; /* عرض مريح */
  margin: 0 90px; /* يوسّط الكونتينر */
  padding: 0 70px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  height: 80px;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu .nav-link {
  position: relative;
  display: inline-block; /* مهم عشان transform يشتغل */
  margin: 0 5px;
  text-decoration: none;
  color: #122079;
  font-weight: 500;
  transition: all 0.4s ease; /* حركة ناعمة */
  padding: 5px 10px;
  z-index: 1;
}
.nav-menu .nav-link:hover {
  transform: translateY(-1.5px); /* يتحرك لفوق */
}
/* الخلفية الدائرية */
.nav-menu .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(91, 98, 146, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  z-index: -1;
}

.nav-menu .nav-link:hover::before {
  width: 100%;
  height: 120%;
}

.contact-btn {
  padding: 10px 10px;
  background-color: #ec7925;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #122079;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animation */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .header-container {
    justify-content: space-between; /* اللوجو أقصى يسار، Hamburger أقصى يمين */
    padding: 0 20px;
  }

  .logo img {
    width: 120px;
    height: auto;
  }

  /* نخفي المنيو الأصلي */
  .nav-menu {
    position: absolute;
    top: 70px; /* تحت الهيدر */
    right: 0; /* من الجهة اليمنى */
    width: 200px;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 999;
  }

  .nav-menu.active {
    max-height: 400px;
  }

  .nav-menu .nav-link {
    margin: 10px 0;
    font-size: 16px;
  }

  /* زر Contact يختفي بالموبايل */
  .contact-btn {
    display: none;
  }

  /* Hamburger يظهر على الجوال */
  .hamburger {
    display: flex;
  }
}
