.contact {
  padding: 1px 10%;
  background: #f9fafc;
  padding-top: 4px;
  margin-bottom: 70px;
}

/* Contact Section */
.contact-section {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* يسمح للكاردات بالنزول لصف ثاني على الشاشات الصغيرة */
}

/* ---------------- TITLE ---------------- */
.Contact-title {
  text-align: left;
  position: relative;
  margin-bottom: 1rem;
}

.Contact-title h1 {
  font-size: 1.5rem;
  color: hwb(232 8% 57%);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.3rem;
}

.Contact-title h1::before {
  content: "";
  display: inline;
  width: 6px;
  height: 40px;
  background-color: orange;
  border-radius: 3px;
}

.Contact-title p {
  font-size: 1.1rem;
  color: #555;
  letter-spacing: 1px;
  margin-top: 0;
}

/* LEFT SIDE - CARDS */
.contact-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* يسمح بالكاردات بالنزول لصف ثاني على الشاشات الصغيرة */
}

.contact-left .contact-card {
  background: #ffffff;
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  flex: none;
  width: 300px;
  margin-bottom: 0;
  transition: all 0.3s ease; /* إضافة الانتقال السلس */
}

.contact-left .contact-card:hover {
  background: #fffaf2; /* لون جديد عند المرور */
  transform: scale(1.02); /* تكبير الكارد شوي */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* تحسين الظل */
}

/* Card Titles and Text */
.contact-card h3 {
  margin-bottom: 6px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #949292;
}

.contact-card p {
  font-size: 0.95rem;
  color: #949292;
  font-weight: 600;
}

.icon-title i {
  font-size: 22px;
  color: rgb(247, 97, 3); /* اللون البرتقالي */
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .contact-row {
    flex-direction: column; /* الكاردات تصبح فوق بعض */
    gap: 15px;
  }
  .contact-left .contact-card {
    width: 240px; /* عرض كامل الشاشة */
    max-width: 300px; /* أقصى عرض للكارد */
    flex: none; /* يلغي flex-grow و flex-shrink */
    margin: 0 auto; /* لتوسيط الكارد على الشاشة */
  }
}
